{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>空白页 - Bootstrap后台管理系统模版Ace下载</title>
		<!-- basic styles -->
{#		<link href="./assets/css/bootstrap.min.css" rel="stylesheet" />#}
{#		<link rel="stylesheet" href="./assets/css/font-awesome.min.css" />#}
		<link href="{% static 'assets/css/bootstrap.min.css" rel="stylesheet' %}" />
		<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}" />
	</head>
	<body>
{#    <script>document.write("<h1>"+"{% static %}"+"</h1>");</script>#}
		<div class="navbar navbar-default" id="navbar">
			<script type="text/javascript">
				try{ace.settings.check('navbar' , 'fixed')}catch(e){}
			</script>

			<div class="navbar-container" id="navbar-container">
				<div class="navbar-header pull-left">
					<a href="#" class="navbar-brand">
						<small>
							<i class="icon-leaf"></i>
							Ace Admin
						</small>
					</a><!-- /.brand -->
				</div><!-- /.navbar-header -->

</div>
        </div>
    </body>
</html>
